.animal-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.animal-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.animal-card button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.animal-card button:hover {
    background-color: #ddd;
}

.animal-card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.animal-card-row img {
    width: 40%;
}